Repository jboss-container-images/rhpam-7-openshift-image, pull requests merged in 2020-12, with the labels that each got.

#500 [RHPAM-3326] - Defaul value for MaxMetaspaceSize in Operator overried…
  kieserver/image.yaml
Labels: needs review :mag:

#501 [KIECLOUD - 479] - Updated EJB Timer related env vars to have same pattern
  kieserver/image.yaml
Labels: needs review :mag:

#498 [KIECLOUD-474] - Increase AMQ broker version to 7.8
  quickstarts/library-process/README.md
  templates/rhpam710-authoring-ha.yaml
  templates/rhpam710-prod-immutable-kieserver-amq.yaml
Labels: master ⇨ 7.10.0, needs review :mag:

#497 [RHPAM-3283] - Align the RHPAM modules with JBoss EAP modules 7.3.x branch
  businesscentral-monitoring/branch-overrides.yaml
  businesscentral-monitoring/image.yaml
  businesscentral-monitoring/tag-overrides.yaml
  businesscentral/branch-overrides.yaml
  businesscentral/image.yaml
  businesscentral/tag-overrides.yaml
  controller/branch-overrides.yaml
  controller/image.yaml
  controller/tag-overrides.yaml
  kieserver/branch-overrides.yaml
  kieserver/image.yaml
  kieserver/tag-overrides.yaml
  smartrouter/branch-overrides.yaml
  smartrouter/tag-overrides.yaml
Labels: master ⇨ 7.10.0, needs review :mag:

#502 [RHPAM-3322] - Update EAP version from 7.3.4 on PAM/DM 7.10.x
  businesscentral-monitoring/artifact-overrides.yaml
  businesscentral-monitoring/branch-overrides.yaml
  businesscentral-monitoring/tag-overrides.yaml
  businesscentral/artifact-overrides.yaml
  businesscentral/branch-overrides.yaml
  businesscentral/tag-overrides.yaml
  controller/artifact-overrides.yaml
  controller/branch-overrides.yaml
  controller/image.yaml
  controller/tag-overrides.yaml
  dashbuilder/artifact-overrides.yaml
  dashbuilder/branch-overrides.yaml
  dashbuilder/tag-overrides.yaml
  kieserver/artifact-overrides.yaml
  kieserver/branch-overrides.yaml
  kieserver/image.yaml
  kieserver/tag-overrides.yaml
  smartrouter/branch-overrides.yaml
  smartrouter/tag-overrides.yaml
Labels: master ⇨ 7.10.0, needs review :mag:

#494 [KIECLOUD-480] - Allowing value flag as "optional" for LdapExtended login module
  templates/rhpam710-authoring-ha.yaml
  templates/rhpam710-authoring.yaml
  templates/rhpam710-kieserver-externaldb.yaml
  templates/rhpam710-kieserver-mysql.yaml
  templates/rhpam710-kieserver-postgresql.yaml
  templates/rhpam710-managed.yaml
  templates/rhpam710-prod-immutable-kieserver-amq.yaml
  templates/rhpam710-prod-immutable-kieserver.yaml
  templates/rhpam710-prod-immutable-monitor.yaml
  templates/rhpam710-prod.yaml
  templates/rhpam710-trial-ephemeral.yaml
Labels: needs review :mag:, wip 🚧
