Repository jboss-container-images/rhpam-7-openshift-image, pull requests merged in 2022-11, with the labels that each got.

#646 [RHPAM-4464]-PostgreSQL 13 Pod won't start due to version 10 data directory
  templates/process/rhpam714-kieserver-postgresql.yaml
  templates/process/rhpam714-managed.yaml
  templates/process/rhpam714-prod-immutable-kieserver-amq.yaml
  templates/process/rhpam714-prod-immutable-kieserver.yaml
  templates/process/rhpam714-prod.yaml
Labels: needs-cherry-pick :cherries:, 7.13.x ⇨ 7.13.2

#649 [RHPAM-4464]-PostgreSQL 13 Pod won't start due to version 10 data directory
  templates/process/rhpam713-kieserver-postgresql.yaml
  templates/process/rhpam713-managed.yaml
  templates/process/rhpam713-prod-immutable-kieserver-amq.yaml
  templates/process/rhpam713-prod-immutable-kieserver.yaml
  templates/process/rhpam713-prod.yaml
Labels: needs review :mag:, cherry-pick :cherries:, 7.13.x ⇨ 7.13.2

#651 [7.13.x-blue] use 8.6 tag of ubi8 image for building the images
  businesscentral-monitoring/image.yaml
  businesscentral/image.yaml
  controller/image.yaml
  dashbuilder/image.yaml
  kieserver/image.yaml
  process-migration/image.yaml
  smartrouter/image.yaml
Labels: needs review :mag:

#650 [7.13.x] use 8.6 tag of ubi8 image for building the images
  businesscentral-monitoring/image.yaml
  businesscentral/image.yaml
  controller/image.yaml
  dashbuilder/image.yaml
  kieserver/image.yaml
  process-migration/image.yaml
  smartrouter/image.yaml
Labels: needs review :mag:
